@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Jost&display=swap');

body{

    font-family: 'Jost', sans-serif;
    margin: 0;
    width: 100%;

    @include flexbox{

        flex-direction: column;
    }
}

h1{

    font-family: 'Dancing Script', cursive;
}

#time{

    font-family: 'Dancing Script', cursive;
}

.header{

    width: 100%;

    img{

        position: relative;
        top: -8px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.cutdown{

    font-size: 10vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
    height: 10vw;
    max-width: 1000px;
    width: 90vw;


    @include flexbox{

        flex-direction: row;

    };

    div{

        margin-left: 2vw;
        margin-right: 2vw;
    }
}

.info{

    @include flexbox{

        flex-direction: column;
    };

    width: 100%;

    &__header{

        margin: 0;
        padding: 0;

        @include flexbox{

            flex-direction: column;
        }

        img{

            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
    &__text{

        top: -2px;
        position: relative;
        background-color: $background;
        margin: 0;
        padding-bottom: 5rem;
        width: 100%;

        @include flexbox{

            flex-direction: column;
        };

        h1{

            width: 60vw;
            padding: 0;
            margin: 0;
            margin-top: 5rem;
            color: $color1;
            font-size: 4rem;
            max-width: 1000px;
            width: 90vw;
            text-align: center;
        }
        p{

            max-width: 1000px;
            width: 90vw;
            text-align: justify;
            font-size: 1.6rem;
        }
    }
}
footer{

    @include flexbox{

        flex-direction: column;
    };

    .fin{

        color: grey;
    }
}
canvas{

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -5;
    
}

.choose{

    height: 60vh;
    width: 90vw;
    max-width: 800px;

    @include flexbox{

        flex-direction: row;
        justify-content: space-evenly;
    };

    @include for-size('tablet'){

        @include flexbox{

            flex-direction: column;
        };

        height: 100vh;
    };

    button{

        background: none;
        border: 3px black solid;
        border-radius: 10px;
        outline: none;
        font-size: 3rem;
        font-family: 'Dancing Script', cursive;
        padding: 1rem;
        margin-top: 1rem;
    }
}