// = variables =
// ===============================================

/* HEX */
$color1: #34344aff;
$color2: #80475eff;
$color3: #cc5a71ff;
$color4: #c89b7bff;
$color5: #f0f757ff;
$background: #4fbefffe;